@charset "UTF-8";
.qnapage {
	margin-top:3%;
}
.qnapage .reviewbox {
	text-align:center;
}
.qnapage .btn {
	margin-bottom:27px;
}
.qnapage .user {
	position:relative;
	right:35%;
}
.qnapage .qbox .qnabno {
	position:absolute;
	left:11%;
	top:18.5%;
	font-weight:800;
	font-size:16px;
}
.qnapage .qbox, .abox {
	margin:2px 0;
	text-align:center;
}
.qnapage .question, .answer {
	position:absolute;
	left:13%;
	top:20%;
}
.qnapage .writeinfo {
	position:absolute;
	right:10%;
	top:20%;
	text-align:left;
}
.qnapage #questionwrite {
	position:absolute;
	right:9%;
	margin-top:1%;
}